  Name: <%= @taxonomy.name%>
  Show Taxonomy Taxon

  <ul>
  	

  </ul>
  <br>
  <br>
  <%= link_to "Back to categories", admin_taxonomies_path%>
  <p>
  	
  <%= link_to "Sign out", destroy_user_session_path, method: 'delete' %>
  </p>