/* Coolors Exported Palette - coolors.co/c2f9bb-a1d39a-6cc160-44cc33-0c3a05 */

/* RGB */

$color1: rgb(238, 250, 236);
$color2: rgb(221, 245, 217);
$color3: rgb(204, 241, 199);
$color4: rgb(187, 236, 180);
$color5: rgb(170, 231, 162);
$color6: rgb(153, 227, 143);
$color7: rgb(136, 222, 125);
$color8: rgb(119, 217, 106);
$color9: rgb(102, 213, 88);
$color10: rgb(85, 208, 69);
$color11: rgb(68, 204, 51);
$color12: rgb(62, 186, 47);
$theme: rgb(128, 187, 1);
$white: #ffff;

// $color1: rgba(194, 249, 187, 1);
// $color2: rgba(161, 211, 154, 1);
// $color3: rgba(108, 193, 96, 1);
// $color4: rgba(68, 204, 51, 1);
// $color5: rgba(12, 58, 5, 1);

$fonts: rgb(99, 114, 130);
$footer: rgb(136, 222, 125);
$border: rgb(217, 217, 217);
$input: rgb(179, 179, 179)