<div class="container main-container">
  <%= render 'shared/side_nav' %>
  <div class="center-container">
      <button class="tablink" onclick="openPage('My-Profile', this, 'rgb(221, 245, 217)')" id="defaultOpen" >My Profile</button>
      <button class="tablink" onclick="openPage('Profiles', this, 'rgb(221, 245, 217)')">Available Profiles</button>
      <button class="tablink" onclick="openPage('Add-Profile', this, 'rgb(221, 245, 217)')">Create New Profile</button>

      <div id="Profiles" class="tabcontent">
          <%= render "my_profiles" %>
      </div>
      
      <div id="My-Profile" class="tabcontent">
          <%= render "form" %>
      </div>

      <div id="Add-Profile" class="tabcontent">
          <%= render "new_profile" %>
      </div>
  </div>
</div>


<script>
    function openPage(pageName, elmnt, color, border) {
        // Hide all elements with class="tabcontent" by default */
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Remove the background color of all tablinks/buttons
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].style.backgroundColor = "";
        }

        // Show the specific tab content
        document.getElementById(pageName).style.display = "block";

        // Add the specific color to the button used to open the tab content
        elmnt.style.backgroundColor = color;
    }

    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();

</script>

