<div class="container main-container">
	<%= render 'shared/side_nav' %>
	<div class="center-container">
		<div class="home-list">
			<ul class="home-container">
				<li class="home-item">
					<div class="inner-wrapper">
							0
					</div>
					<div>
							Messages
					</div>
				</li>
				
				<li class="home-item">
					<div class="inner-wrapper">
							3
					</div>
					<div>
							New Business Cards Received
					</div>
				</li>
				
				<li class="home-item">
					<div class="inner-wrapper">
							10
					</div>
					<div>
							Product views
					</div>
					<div>(upgrade to premium for supplier)</div>
				</li>
				
				<li class="home-item">
					<div class="inner-wrapper">
						12
					</div>
					<div>
						New RFQ matches
					</div>
					<div>(upgrade to premium for supplier)</div>
				</li>
				
				<li class="home-item">
					<div class="inner-wrapper">
							20
					</div>
					<div>
							Viewed your company profile
					</div>
					<div>(upgrade to premium)</div>
				</li>

				<li class="home-item">
					<div class="inner-wrapper">
					</div>
					<div>
							The cards will look something like that. Bait to buy premium account? Check Dating sites. Re-visit! Linkable cards to redirect_to posts, messages etc.
					</div>
				</li>
			</ul>
		</div>
	</div>
	<%# <footer class="footer">
	<ul class="footer-group-list-1">
		<h1 class="footer-headline headline">Company</h1>
			<li class="footer-link-list-item">About us</li>
			<li class="footer-link-list-item">Jobs</li>
			<li class="footer-link-list-item">Press</li>
			<li class="footer-link-list-item">Blog</li>
	</ul>
	<ul class="footer-group-list-2">
		<h1 class="footer-headline headline">Support</h1>
			<li class="footer-link-list-item">Help Centre</li>
			<li class="footer-link-list-item">Contact us</li>
			<li class="footer-link-list-item">Terms & Conditions</li>
	</ul>
	<ul class="footer-group-list-3">
		<h1 class="footer-headline headline">Connect</h1>
			<li class="footer-link-list-item">Twitter</li>
			<li class="footer-link-list-item">Facebook</li>
			<li class="footer-link-list-item">YouTube</li>					
	</ul>
	<ul class="footer-group-list-4">
		<h1 class="footer-headline headline">Products</h1>
			<li class="footer-link-list-item">Package 1</li>
			<li class="footer-link-list-item">Package 2</li>
			<li class="footer-link-list-item">Package 3</li>
	</ul>
	<div class="links">
		<%# <img src="assets/facebook.gif" alt="">
		<img src="assets/twitter.gif" alt="">
		<img src="assets/linkedin.gif" alt="">			 %>
	</div>
	</footer>
</div>
