/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: white;
  color: rgb(99, 114, 130);
  text-align: center;
  padding: 5px 0;
  border-radius: 2px;
  border: 1px dotted rgb(179, 179, 179);

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  // Tooltip top
  width: 190px;
  bottom: 110%;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

// Left arrow

.tooltip .tooltiptext::after {
  content: " ";
    position: absolute;
    top: 100%;
    left: 25%;
    margin-left: -46px;
    border-width: 5px;
    border-style: dotted;
    border-color: rgb(179, 179, 179) transparent transparent transparent;
}

.tooltip ul li label{
  font-weight: bold;
  text-decoration: underline;
}