<div>
  <ul>
    
    <li>
      <label> FOB-Free on Board: </label>
      Means that the seller fulfils his obligation to deliver when the goods have passed over the ship's rail at the named port of shipment. This means that the buyer has to bear all costs and risks of loss of or damage to the goods from that point.
    </li> <br>

    <li>

    </li>
      <label>EXW-Ex Works:</label>
      Means that the seller fulfils his obligation to deliver when he has made the goods available at his premises (i.e. works, factory, warehouse, etc) to the buyer. In particular, he is not responsible for loading the goods on the vehicle provided by the buyer or for clearing the goods for export, unless otherwise agreed. The buyer bears all costs and risks involved in taking the goods from the seller's premises to the desired destination. This term thus represents the minimum obligation for the seller.
    <li>
    </li>

    <li>
    http://www.worldclassshipping.com/incoterm_exw.html
    </li>

    <li>
    </li>

    <li>
    </li>

    <li>
    </li>

    <li>
    </li>

    <li>
    </li>

    <li>
    </li>

    <li>
    </li>

    <li>
    </li>

    <li>
    </li>

    <li>
    </li>

  </ul> 
</div>