.reset {
    height: 50px;
    width: 25%;
    float: left;
    background-color: #98e7b9;
    border: 1px solid #d9d9d9;
    font-size: 16px;
    color: #637282;
}

.reset-action{
    display: inline-block;
}

.back-log{
    margin-top: 16px;
    float: right;
    font-size: 18px;
}

.pass-form {
    height:130px;
}