.signup-bar{
    color: #484848;
    font-size: 16px;
    margin-bottom: 20px;
    color: rgb(99, 114, 130);
}

.plt-option{
    color: rgb(62, 186, 47);
}

.alter-or{
    display: inline-table;
    white-space: nowrap;
    color: #484848;
    width: 100%;
    margin-bottom: 16px;
    &:before, &:after {
      border-top: 1px solid #b3b3b3;
      content: '';
      display: table-cell;
      position: relative;
      top: 0.5em;
      width: 45%;
    }
}

.status-field {
    margin-bottom: 16px;
    float: left;
}

.check {
    transform: scale(1.5);
    margin-left: 25px;
}

.options {
    margin-left: -3px;
}
.new-user {
    height: 308px;
}

.btn {
    width: 100%;
    height: 50px;
    background-color: rgb(170, 231, 162);
    border: 1px solid #d9d9d9;
    font-size: 16px;
    padding-right: 0;
    color: rgb(99, 114, 130);
}

.ln-break {
    border-bottom: 1px solid #d9d9d9;
}

.lwr-login {
 margin-bottom: 16px;
 font-size: 16px;
}

a{
  text-decoration: none;
  color: #30cf72;
}

.form-input:focus{
    outline: none;
    border:1px solid rgb(170, 231, 162);
    box-shadow: 0 0 10px rgb(170, 231, 162);
    color:rgb(99, 114, 130);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(99, 114, 130);
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(99, 114, 130);
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(99, 114, 130);
}