.profile-headers{
    display: inline;
}

.profiles-container{
    display: inline;
}

.user-option{
    font-size: 16px;
    color: inherit;
}

.input-form{
    border: none;
    font-size: 16px;
    color: inherit;
    width: auto;
}